@font-face {
    font-family: flower;
    src: url("fonts/flower.ttf");
}
@font-face {
    font-family: Bungee;
    src: url("fonts/Bungee.ttf");
}
@font-face {
    font-family: Knewave;
    src: url('fonts/Knewave.ttf');
}
@font-face {
    font-family: RockSalt;
    src: url('fonts/RockSalt.ttf');
}
