body{
  background-color: #E2E2E2;
}
.back{
  position: fixed;
  top:300px;
  width: 120px;
  color: #FFF;
  background-color: transparent;
  border: 5px solid rgba(226, 226, 226, 0);
  border-radius: 100px;
  text-align: center;
  z-index: 2;
}
#home{
  position: relative;
  top: 150px;
  height: 80px;
  transform: scaleX(-1);
}
