@font-face {
    font-family: flower;
    src: url("fonts/flower.ttf");
}
@font-face {
    font-family: Fredericka;
    src: url("fonts/Fredericka.ttf");
}
@font-face {
    font-family: Knewave;
    src: url('fonts/Knewave.ttf');
}
@font-face {
    font-family: Rocksalt;
    src: url('fonts/ RockSalt.ttf');
}